body,html{margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
}






#firstpage{background-color: #ECEEEE;
height: 100%;
width: 100%;}


ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  

.link{

    float: right;
padding-right: 200px;
}
  
  nav {
    height: 10%;
    width: 100%;
    padding-top:40px ;

    }
 nav>img
 
 { padding-left: 30px;
    padding-top: 10px;
position: absolute;}
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-right: 30px;
  }
  
  nav li a {
    display: block;
    color:black;
    text-decoration: none;
    padding: 10px;
  }
  
  /* Styling for dropdown */
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    z-index: 1;
  }
  
  .dropdown-content li {
    margin: 0;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* Basic button styles */
.my-button {
    padding: 10px 20px;
    background-color:#EC6E46; /* Blue color, you can change it to any color you like */
    color: #fff; /* Text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 6px;

    height: 30px;
  }
  
  /* Hover effect */
  .my-button:hover {
    background-color: #bd7058; /* Darker shade of the button color */
  }
  
  /* Optional: Active/Clicked effect */
  .my-button:active {
    color: black;
    background-color:#ECEEEE; /* Even darker shade on click */
  }


  #sec1{
    width: 100%;
    height: 90%;

  }


  #left{

    height: 90%;
    position: absolute;
    width: 50%;

  }


#left>h1{ font-size: 45px;
    color: #484848;
    font-family:"Poppins";
    padding-top:40px;
   width:70%;
padding-left: 60px;}


#left>h3{ 
    font-family:"Poppins";
    width:70%;
    font-size: 17px;
    color:#484848;
 padding-left: 60px;

}
 /* Basic button styles */
 .my-button2 {
    font-family: "Poppins";
    padding: 10px 20px;
    background-color:#FFC229; /* Blue color, you can change it to any color you like */
    color:black; /* Text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 60px;
    margin-top: 50px;
    width: 150px;
  }
  
  /* Hover effect */
  .my-button2:hover {
    background-color:#a8852c; /* Darker shade of the button color */
  }
  
  /* Optional: Active/Clicked effect */
  .my-button2:active {
    
    background-color:#ECEEEE; /* Even darker shade on click */
  }
  #right{
    width: 50%;
    height: 90%;
    float: right;
    padding-top: 80px;
  }

.form-container{width: 100%;
  margin-top: 70px;
    text-align: center;

height: 30%
;
width: 100%;
}


.form-container>form{ display: flex;
    font-family: "Poppins";
    padding-left: 400px;
    

}
.form-container>h2{
  font-size: 30px;
color: #EC6E46;
}


.vertical-list{
  display: flex;

}
 
form>input{height: 40px;
border: none;
 ;}
 

form>button{ width: 100px;
  background-color: #EC6E46;
  border-radius: 4px;
  color: white;
border: none;}
form>button:active {color: black;

    
  background-color:#ECEEEE; /* Even darker shade on click */
}


#sec2{
  width: 100%;
  height: 90%;
  margin-top: 70px;

}


#left2{
  padding-top: 40px;

  height: 90%;
  position: absolute;
  width: 60%;

}





#right2{


  width: 40%;
  height: 90%;
  padding-top: 100px;
  padding-left: 65%;
}

#left2>h2{
  font-size: 30px;
  font-weight: 600;
  padding-left: 20px;
  color: #EC6E46;

  
}



#left2>h3{
  font-size: 25px;
  font-family: "Poppins";
  font-weight: 500;
  padding-left: 40px;
  width: 60%;
}

#left2>a{
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 500;
  padding-left: 40px;
  width: 60%;
  text-decoration: none;
  color: #EC6E46;
}
#left2>h4{
  font-family: "Poppins";
  font-weight: 400;
  padding-left: 40px;
  width: 90%;

  line-height: 40px;
  font-size: 17px;
  
}
#table1{  height: 300px;
  width: 70%;
  
  margin-top: 150px;

  
} 
#table1>h3{  font-size: 25px;
  font-family: "Poppins";
  font-weight: 600;
  padding-left: 40px;
  width: 60%;
  text-decoration: none;
  color: #EC6E46;}   


 .buttonq{ background-color: #ffffff;
  border-color: #FFC229;
  color: #FFC229;
  border-radius: 6px;

 }
#table1 tr td{

  padding-top: 10px;
  text-align: center;
  padding-left:20px;
  align-items: center;
  width: 30px;
  font-family: "Anybody";
  border-right: dotted #9757D766 1.993334px ;
  border-spacing: 1px
}


#table2{  
  width: 100%;
  padding-top: 100px;
}    

#table2>h3{  font-size: 25px;
  font-family: "Poppins";
  font-weight: 600;
  padding-left: 40px;
  width: 60%;
  text-decoration: none;
  color: #EC6E46;}  


#table2 img{width: 100%;
  size: 100px;
}




#table1 .Steps{
  font-weight: 600;
color: #484848;
}

#table1 .works{
  color: #9A9A9A;
}

#table3{padding-left: 20px;
  width: 90%;


}
#table3 .sss td{ width: 10%;
font-size: 13px;
border-right: dashed 1px cadetblue
;
padding-left: 30px;
font-weight: 300}


#table3 .sss1 td{padding-left: 30px;

  
font-size: 15px;

}
#table3>h3{  font-size: 25px;
  font-family: "Poppins";
  font-weight: 600;
  padding-left: 30px;
  width: 60%;
  text-decoration: none;
  color: #EC6E46;}  


#llll{
  margin-top: 10%;
  margin-left: 130px;
  border-radius: 8px;
  width: 80%;
  height:200px;

}
#llll{  
  background-image: url( bg.png)}


 #llll>h3{
  padding-top:25px;
  font-size: 25px;
  padding-left: 20px;
  color: #fff;
  font-weight: 800;


 }

 #llll>h5{

  font-size: 14px;
  padding-left: 20px;
  color: #fff;
  

 }


 #llll>button{

  width: 100px;
  height: 30px;
  border: none;
  background-color: #fff;
  border-radius: 20%;
  margin-left: 20px;

 }
 body footer{width: 100%;

  margin-top: 100px;
  background-color:#EFF0F2 ;

 }
  
  
  
  hr{ width:90%;
       border-style: dashed ;
       border-color: #777E9080;
       border-spacing: 3px;
  }
  
  .ggg{ text-align: left;
      height: 10px;
   font-size: 10px;
  width: 300px;
  padding-left: 100px;
}
  
  .lll{color: #204945;height: 10px;
    

  }
  .ppp{ width: 40px;
  font-size: 10px;height: 30px;
  padding-left: 100px;
  text-align: center;}
  .sss{ width: 50px; border: dashed; 
      height: 30px;
      font-size: 10px;
      padding-left: 100px;

      text-align: center;}
  
  
  .kkk{ width: 50px;
      height: 30px;
      padding-left: 100px;

      font-size: 10px; 
      text-align: center;}
  
  
  .mmm{ width: 50px; 
      height: 50px;
      padding-left: 100px;

      font-size: 10px;
      text-align: center;}
  
  
  .vvv{text-align: left;
  padding-left: 100px;}
   
  
  
footer>table tr td {
  padding-left: 100px;
  padding-top: 10px;
}
  
  
footer>table{
  padding-top: 80px;
}
footer>img{
  padding-left: 100px;
  padding-top: 100px;
  position: absolute;
}

footer>form{
  padding-top: 20px;
  padding-left: 400px;
}


footer>form label{ color: #484848;
  font-size: 15px;
 font-weight: 700;
}
footer>form input{ width: 500px;
border-radius: 5px;
padding-left: 30PX;}


#left8{
  font-family: "Montserrat";
  font-weight: 600;
color: #484848;
font-size: 15px;


}